<footer class="w-100 p-3 d-flex text-center justify-content-center align-items-center">
    <a class="text-decoration-none fa-brands fa-instagram fa-lg p-2" href="https://www.instagram.com/neb.ist/"></a>
    <a class="text-decoration-none fa-brands fa-facebook fa-lg p-2" href="https://www.facebook.com/NEBIST"></a>
    <a class="text-decoration-none fa-brands fa-linkedin fa-lg p-2" href="https://www.linkedin.com/company/nebist---n%C3%BAcleo-de-engenharia-biol%C3%B3gica-do-instituto-superior-t%C3%A9cnico/"></a>
    <a class="text-decoration-none fa-brands fa-youtube fa-lg p-2" href="https://www.youtube.com/channel/UCK7IhGs57sJtizBi5eECKpQ"></a>
</footer>
