<section class="foto">
    <img src="/images/repositorioblur.jpg" alt="Biblioteca"></img>
    <h1>Repositório de Engenharia Biológica</h1>
</section>

<section class="page">
    <h2>Bem-vindo ao Repositório de Engenharia Biológica!</h2>
    <p>O material do antigo modelo de ensino (antes de 2021) encontra-se disponível na secção <b>Arquivo</b>. </p>
    <p>O repositório tem um caráter dinâmico e participativo. Caso tenhas material de estudo que não esteja no repositório, envia-nos um email com o respetivo material anexado e devidamente identificado, ou preenche o seguinte formulário:</p>
    <br><br>

    <div class="btn">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdsVS6ymHln25464lklVVKB05KIVurKX9ZQbnTIMQwLoWHRLg/viewform" class="btn page-btn">Formulário</a>
        <a href="mailto: repositorio.neb@gmail.com" class="btn page-btn">Email</a>
    </div>
    <br><br>
    <p class="centered-text">Se tiveres alguma sugestão, não hesites em falar connosco!</p>
    <p class="centered-text"><strong>Bom Estudo!</strong></p>
    <p></p>
    <p></p>
    <p></p>
</section>
